<template name="card">
    <div class="row">
        <div class="col s12 m6">
            {{> React component=CardContainer title='Initial Title' body='Hey there! It\'s body ;)' }}
        </div>
    </div>
</template>